//google gont===========
@import url("https://fonts.googleapis.com/css2?family=Montserrat:400, 500, 600, 700&display=swap");

//local font =================================================================

@import "font/font";

//ICON font ============================================================================

@import "font/iconfont";

// SETTINGS ====================================================================

// font =================================================================================
$fontFamily: "Graphik LC Web", sans-serif;
$secondFontFamily: "SuisseIntl", sans-serif;
$thirdFamily: "Montserrat", sans-serif;

// colors ===================================================================
$mainColor: #fff;
$greenBtn: #5cc76d;
$mainBackground: #3b3f45;
// $mainBackground: #fff;
$gray: #4e5358;

// font settings ==============================================================
$fontSize: 18px;
$fontWeight: 400;

// sizes ======================================================================
$containerWidth: 1280px;

// 0 - without paddings
$containerPaddings: 15px;

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  flex: 1 1 auto;
}

._container {
  max-width: $containerWidth;
  padding: 0 $containerPaddings;
  margin: 0 auto;
  box-sizing: content-box;
}

._big {
  max-width: 1840px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

//elems======================

.section__title {
  font-weight: 500;
  font-size: 46px;
  line-height: 130%;
}

// reset styles=============================================================
@import "base/null";

//blocks====================================================================
@import "blocks/header";
@import "blocks/promo";
@import "blocks/brands";
@import "blocks/benefits-section";
@import "blocks/consultation";
@import "blocks/problems";
@import "blocks/master";
@import "blocks/why-us";
@import "blocks/review";
@import "blocks/footer";
@import "blocks/proofs";
