.main {
  &__brands {
  }
}

.brands {
  padding-top: 50px;
  &__big-container {
    background-color: $gray;
    border-radius: 40px;
    padding: 70px 0;
  }

  &__container {
  }

  &__title {
  }

  &__block {
  }
}

.brands-block {
  display: flex;
  column-gap: 10px;
  margin-top: 30px;
  &__item {
  }
}
.brands-item {
  flex: 0 0 205px;
  padding: 24px 20px 34px 20px;
  min-height: 309px;
  border-radius: 16px;
  background-color: #fff;

  &__img {
    width: 165px;
    height: 214px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    font-weight: 500;
    text-align: center;
    color: #191919;
    margin-top: 20px;
  }
}
