.main {
  &__consultation {
  }
}
.consultation {
  padding-top: 70px;

  @media (max-width: 768px) {
    padding-top: 40px;
  }

  &__big-container {
    min-height: 453px;
    padding: 90px 15px;
    position: relative;
    border-radius: 40px;
    background: url("../img/consultation/consult_bg.png") center center / cover
      no-repeat;

    @media (max-width: 992px) {
      background: url("../img/consultation/consult__bg_rotate.png") center
        center / cover no-repeat;
    }

    @media (max-width: 768px) {
      border-radius: 24px;
      padding: 30px;
    }
  }
  &__container {
    display: flex;
    padding: 0;

    @media (max-width: 992px) {
      flex-direction: column;
      align-items: center;
      row-gap: 30px;
    }
  }

  &__left {
    max-width: 581px;
  }

  &__title {
    color: #191919;
    span {
      color: #ce2027;
    }

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &__subtitle {
    margin-top: 20px;
    font-size: 20px;
    line-height: 130%;
    color: #191919;

    @media (max-width: 992px) {
      text-align: center;
    }
  }

  &__btn {
    margin-top: 60px;

    a {
      padding: 23px 40px;
      background-color: $greenBtn;
      font-weight: 450;
      font-family: $secondFontFamily;
      border-radius: 500px;
    }

    @media (max-width: 992px) {
      text-align: center;
    }

    @media (max-width: 768px) {
      font-size: 16px;
    }
  }

  &__img {
    position: absolute;
    right: 422px;
    top: 8px;
    max-width: 370px;
    height: 443px;

    @media (max-width: 1750px) {
      right: 30px;
    }

    @media (max-width: 992px) {
      position: unset;
    }

    @media (max-width: 768px) {
      max-width: 254px;
      height: 305px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
