.main {
  &__promo {
  }
}

.promo {
  padding-bottom: 50px;
  position: relative;
  z-index: 0;
  background: url("../img/promo/promo_bg.png") center center / cover no-repeat;

  @media (max-width: 768px) {
    padding-bottom: 0px;
  }

  &__container {
  }

  &__promo-block {
    padding-top: 210px;

    @media (max-width: 992px) {
      padding-top: 150px;
    }
  }

  &__companies {
    margin-top: 35px;
  }

  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.45);
    z-index: -1;
  }
}

.promo-block {
  &__container {
  }

  &__top {
    max-width: 730px;
    position: relative;
    z-index: 1;
  }

  &__title {
    font-weight: 500;
    font-size: 82px;
    line-height: 120%;

    @media (max-width: 992px) {
      font-size: 52px;
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 26px;
    line-height: 140%;
    margin-top: 35px;

    @media (max-width: 992px) {
      font-size: 20px;
    }

    @media (max-width: 768px) {
      margin-top: 21px;
      font-size: 16px;
    }
  }

  &__btn-section {
    margin-top: 30px;

    @media (max-width: 768px) {
      margin-top: 36px;
    }
  }

  &__benefit {
    margin-top: 135px;

    @media (max-width: 768px) {
      margin-top: 116px;
    }
  }

  &__ellipse {
    position: absolute;
    top: -170px;
    left: -100px;
    width: 716px;
    height: 716px;
    border-radius: 100%;
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgb(0, 0, 0) 0%,
      rgb(0, 0, 0) 100%
    );
    filter: blur(200px);
    z-index: -1;

    @media (max-width: 992px) {
      display: none;
    }
  }
}
.btn-section {
  display: flex;
  align-items: center;
  column-gap: 30px;

  @media (max-width: 768px) {
    align-items: flex-start;
    flex-direction: column;
    row-gap: 26px;
  }
  &__btn {
    padding: 23px 40px;
    border-radius: 500px;
    background: $greenBtn;
    font-weight: 450;
    font-family: $secondFontFamily;

    @media (max-width: 768px) {
      padding: 18px 30px;
      font-size: 16px;
    }
  }

  &__text {
    font-family: $secondFontFamily;

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }

    @media (max-width: 768px) {
      font-weight: 400;
      font-size: 14px;
    }
  }

  &__caption {
  }
}
.benefit {
  display: flex;
  flex-wrap: wrap;
  row-gap: 7px;
  align-items: center;
  column-gap: 7px;

  &__benefit-item {
  }
}

.benefit-item {
  border-radius: 16px;
  padding: 20px;
  flex: 0 0 250px;
  min-height: 140px;
  background: rgba(255, 255, 255, 0.05);

  @media (max-width: 768px) {
    flex: 1 0 50%;
    min-height: 117px;
  }

  &__icon {
    height: 36px;
    width: 36px;
  }

  &__caption {
    line-height: 130%;
    margin-top: 18px;

    @media (max-width: 567px) {
      margin-top: 16px;
    }
  }

  &_promo {
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(50px);
    background: rgba(255, 255, 255, 0.3);
  }
}

.companies {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 100px;

  @media (max-width: 992px) {
    display: none;
  }

  &__item {
    flex: 0 0 200px;
    opacity: 0.1;

    img {
      width: 100%;
      height: 100%;
    }
  }
}
