.main {
  &__problems {
  }
}
.problems {
  padding-top: 70px;

  @media (max-width: 768px) {
    padding-top: 40px;
  }

  &__container {
  }

  &__title {
  }

  &__block {
    margin-top: 50px;
  }
}

.problems-block {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 30px;

  @media (max-width: 768px) {
    column-gap: 40px;
  }
  &__item {
  }
}
.problems-item {
  flex: 0 1 240px;
  //   padding: 0 33px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 218px;

  @media (max-width: 768px) {
    flex: 0 1 160px;
    min-height: 148px;
  }

  &__img {
    border-radius: 100%;
    width: 175px;
    height: 175px;

    @media (max-width: 768px) {
      width: 100px;
      height: 100px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__caption {
    margin-top: 20px;
    text-align: center;
    line-height: 130%;
    font-family: $secondFontFamily;

    @media (max-width: 768px) {
      margin-top: 10px;
      font-size: 15px;
    }
  }
}
