.main {
  &__review {
  }
}
.review {
  padding-top: 70px;
  padding-bottom: 140px;
  &__big-container {
    max-width: 1500px;
    background: url("../img/revieww/review_bg.png") center center / cover
      no-repeat;
    border-radius: 32px;
    padding-top: 70px;
    padding-bottom: 62px;
  }

  &__container {
  }

  &__title {
  }

  &__slider {
    margin-top: 50px;
  }

  &__btn {
    margin-top: 50px;
  }
}

.slider-review {
  display: flex;
  column-gap: 20px;
  &__item {
  }
}
.item-review {
  flex: 0 0 630px;
  border: 1px solid #ececec;
  border-radius: 16px;
  min-height: 255px;
  padding: 30px;
  background: #fff;
  &__text {
    font-weight: 400;
    line-height: 140%;
    color: #000;
  }

  &__name {
    line-height: 140%;
    text-align: right;
    color: #000;
    font-weight: 500;
  }
}

.btn-review {
  border-radius: 500px;
  padding: 23px 40px;
  max-width: 262px;
  min-height: 78px;
  background-color: $greenBtn;
  display: flex;
  margin: 0 auto;
  column-gap: 10px;

  span {
    font-family: $secondFontFamily;
    font-weight: 450;
    line-height: 30px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 500px;
    width: 32px;
    height: 32px;
  }
}
